* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fundo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    width: 100%;
    padding: 20px;
}

header .logo {
    display: flex;
    color: aliceblue;
}

header .logo i {
    line-height: 40px;
    font-size: 30px;
    margin: 0px 10px;
}

header .logo h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
}

.div1 {
    margin: 40px;
    max-width: 800px;
    padding: 20px;
}

.div1 h1 {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.div1 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title h1 {
    padding: 5px;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(240, 248, 255, 0.09);
    color: #fff;
}

.sub-titulo {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.div2 {
    margin: 40px;
    color: #fff;
    max-width: 700px;
}

.div2 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

.div3 {
    margin: 40px;
    float: right;
    color: #fff;
    max-width: 700px;
}

.div3 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

.div4 {
    margin: 40px;
    float: left;
    color: #fff;
    max-width: 700px;
}

.div4 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

