* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: black;
    padding: 20px;
}

header .logo {
    display: flex;
    color: aliceblue;
}

header .logo i {
    line-height: 40px;
    font-size: 30px;
    margin: 0px 10px;
}

header .logo h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}